body {
    margin: 0;
    background-image:url(https://wallpaper.forfun.com/fetch/e0/e0d80555aaa82494f2d30fcab6daf465.jpeg);
    background-size:cover;
}

.container {
    margin:0;
    color: #EEEEEE;
    display: flex;
    justify-content: space-between;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-shadow: 0px 0px 1px #000000;
}

#left-side {
display:flex;
flex-direction: column;
}

#right-side {
    margin: 0 30px 0  0;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}

.head-text {
    margin: 68px 0 20px 0;
    width : 149px;
    height: 36px;
    font-size: 35px;
}

#home-txt {
    margin-left: 20px;
}

#guest-txt {
    margin-left: 45px;
}

.black-box {
    text-align: center;
    margin: 40px 0 0 40px;
    background-color: black;
    border-radius: 10px;
    width: 155px;
    height: 120px;   
    display:flex;
    align-items: center;
    justify-content: center;
}

.score {
    margin:20px 0 0 0;
    padding:0;
    color: white;
    font-size: 100px;
    font-family: 'Cursed Timer ULiL', sans-serif;
}

#button-container {
    width: 155px;
    height: 45px;
    margin: 25px 0 0 41px;
}

.button-layout {
    color: white;
    font-size: 18px;
    font-family: 'Cursed Timer ULiL', sans-serif;
    margin:0 0 0 2px;
    background-color: black;
    border:3px solid white;
    border-radius: 5px;
    width: 45px;
    height: 45px;
}
